/** IMPORTS **/
@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic|Maven+Pro:400,700);
@import url(reset.css);

html {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
/** BODY **/
body {
	max-width: 800px;
	margin: 5em auto;
	
		
	@media (max-width: 500px) {
		margin-top: 2em;
	}
}

/** HEADER **/
header {
	text-align: center;
	margin-bottom: 3em;
	
	h1 {
		font-family: "Maven Pro", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 3em;
		line-height: 1.5em;
		padding-bottom: 0.1em;
		a {
			text-decoration: none;
			color: black;
		}
	}
	
	p {
		margin: 0 auto;
		max-width: 60%;
		font-family: "Noto Serif", serif;
		line-height: 1.5em;
		padding-bottom: 1.2em;
	}
	
	nav {
		font-family: "Maven Pro", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1.07em;
	
		a {
			padding-right: 30px;

			&, &:hover, &:active, &:visited {
				text-decoration: none;
				color: #373737;
			}
			
			@media (max-width:500px) {
				display: block;
				padding: 0.3em 0;
			}
		}
		
		a:last-child {
			padding-right: 0;
		}
	}
}

div#divider {
	height: 1px;
	width: 100%;
	display: block;
	background-color: rgba(224,224,224,1);
	margin-bottom: 3em;
	
	@media (max-width: 800px) {
		display: none;
	}
}

section.post {
	color: rgb(18,18,18);
	margin-bottom: 3em;
	
	@media (max-width: 800px) {
		padding: 0 2em;
	}
	
	h1.title {
		font-family: "Maven Pro", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
		font-size: 1.25em;
		font-weight: 700;
		line-height: 1.4em;
		
		a {
			&, &:hover, &:active, &:visited {
				text-decoration: none;
				color: rgb(18,18,18);
			}
			
			&:hover {
				color: rgb(0,0,0);
			}
		}
	}
	
	p.meta {
		text-transform: uppercase;
		font-family: "Maven Pro", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
		line-height: 1.5em;
		font-size: 0.7em;
		padding-bottom: 0.5em;
		a {
			&, &:hover, &:active, &:visited {
				color: black;
				font-weight: 700;
				text-decoration: none;
			}
		}
	}
	
	section.content {
		font-family: "Noto Serif", serif;
		p {
			line-height: 1.7em;
			padding-bottom: 1em;
			font-size: 0.9em;
			
			a {
				color: black;
				text-decoration: none;
				font-weight: 500;
				border-bottom: 1px dotted black;
			}
			
			em {
				font-style: oblique;
			}
			
			strong {
				font-weight: 700;
			}	
		}
		
		h1, h2, h3 {
			padding-left: 0.5%;
		}
		
		h1 {
			font-weight: 700;
			margin-bottom: 0.4em;
			font-size: 1.5em;
		}
		
		h2 {
			font-weight: 700;
			margin-bottom: 0.4em;
			font-size: 1.4em;
		}
		
		h3 {
			font-weight: 700;
			margin-bottom: 0.4em;
			font-size: 1.1em;
		}
		
		blockquote, q {
			padding-left: 1.5em;
			line-height: 1.8em;
			font-size: 1.4em;
			font-style: oblique;
			margin-bottom: 1em;
			color: rgba(0,0,0,0.8);
			border-left: 1px solid rgba(0,0,0,0.3);
			
			@media (max-width:800px) {
				border-left: none;
				padding-left: 2%;
			}
		}
		
		ul {
			margin-top: 0;
			margin-left: 1%; /* 1% so the width doesn't become super super tiny if there are nested lists */
			li {
				padding-bottom: 0.5em;
			}
		}
		
		a.more {
			float: right;
			color: black;
			font-size: 0.9em;
			font-style: oblique;
			
			&, &:hover, &:active, &:visited {
				text-decoration: none;
			}
		}
	}	
}